html {
	background-color: rgba(196,196,196);
}

.container{
  display: grid;
  padding: 0.25rem;
  grid-template-rows: 1fr 6fr 1fr;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-areas: 
    "header header header"
    "nav main aside"
    "footer footer footer";
  grid-gap: .75rem;
}

.header{
    grid-area: header;
    text-align: center;
    color: white;
    background-color: rgb(196,196,196);
}
.nav{
	line-height: 2rem;
    grid-area: nav;
    background-color: rgba(229,229,229,0.75);
}
.main{
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "about"
    "rules"
    "programming";
    grid-gap: .5rem;
    text-align: center;
    justify-content: center;
}
.about,
.rules,
.programming {
	padding: 1.5rem;
	border-radius: 15%;
}
.about{
	vertical-align: center;
	text-align: left;
	min-width: 480px;
	margin: 0.25rem;
	overflow: hidden;
	background-color: rgba(229,229,229,0.75);
	grid-area: about;
}
.rules{
	background-color: rgba(229,229,229,0.75);
	text-align: left;
	grid-area: rules;
}
.rules img {
	padding: 0.5rem; float: right;
}
.rules ol {
	margin-top: 20px;
}
.programming{
	grid-area: programming;
	background-color: pink;
}
.aside{
    grid-area: aside;
    background-color: orange;
}
.footer{
    grid-area: footer;
    background-color: lightgreen;
}

 @media(max-width: 768px){
    grid-template-rows: 1fr 1fr 5fr 1fr;
    grid-template-columns: 2fr 5fr 3fr;
    grid-template-areas: 
	    "header header header"
	    "nav nav nav"
	    "main main aside"    
	    "footer footer footer";
 }

@media(max-width: 480px){
    display: block;
    .nav {
    	visibility: hidden;
    }
}